@use '../../../variables.scss' as *;

.tabs {
	display: flex;
	flex-direction: column;
	border-right: 1px solid $grayLight;

	.tabItem {
		padding: 16px;

		.tabIcon {
			width: 24px;
			height: 24px;
			fill: $black;
			transition: fill 0.3s ease-in-out;
		}

		&.active {
			.tabIcon {
				fill: $blue;
			}
		}
	}
}
