@use '../../../global.scss' as *;
@use '../../../variables.scss' as *;

.stopScroll {
	overflow: hidden;
}

.subHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: $white;
	transition: box-shadow 0.3s ease-in-out;

	&.scrolled {
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
	}

	.subHeaderButton {
		@include button;
		padding: 6px 12px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
	}

	.saveButton {
		background-color: $blue;
		color: $white;
	}

	.subHeaderLeft {
		display: flex;
		align-items: center;
		gap: 16px;

		.subHeaderTitle {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 20px;
		}
	}

	.subHeaderRight {
		display: flex;
		gap: 4px;
	}
}

@media (max-width: 767px) {
	.subHeader {
		position: static;

		.subHeaderLeft {
			width: 100%;
			justify-content: space-between;

			.subHeaderTitle {
				font-size: 14px;
				color: $grayDark;
				text-transform: uppercase;
			}
		}

		.subHeaderRight {
			display: none;
		}
	}
}
