$black: #2e3238;
$blackDark: rgba(11, 12, 14, 0.4);
$white: #fff;
$grayDark: #5c6470;
$gray: #abb1ba;
$grayLight: #d5d8dd;
$grayLighter: #fcfcfd;
$blue: #005999;
$blueLight: #99d5ff;
$blueLighter: #e5f4ff;
